# === Python backend ===
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.env
.venv/Lib/site-packages/fastapi/applications.py
# === Frontend Node.js ===
node_modules/
dist/

# === OS / Editor ===
.DS_Store
.vscode/
.idea/

# === Log files ===
*.log
